@import "~bootstrap/scss/bootstrap";

$primary-color: #282c34;
$secondary-color: #61dafb;

html {
  font-size: 1.12vw; /* 16px for 1440px-viewport */
}

main {
  margin: 0.5rem 0 3rem 0;
}

.App {
  h2 {
    color: $primary-color; /* Testing only */
  }
}

/* ------------------- */
/* Tablet view         */
/* ------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 1.953125vw; /* 15px for 768px-viewport */
  }
}

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width: 767px) {
  html {
    font-size: 4vmin; /* 15px for 375px-viewport */
  }
}