
.headerStyle {
  background-color: rgba(143, 143, 143, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  font-family: NHaasGrotesk, sans-serif, Fallback;
  font-size: 1rem;
}

.dropdownMenu {
  div {
    background-color: rgba(143, 143, 143, 0.3) !important;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    min-width: 5em;
    text-align: center;
    right: 0;
    position: relative;
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .selector:not(*:root), .dropdownMenu {
    div {
      background-color: rgb(211, 211, 211, 0.97) !important;
    }
  }
}

.navContainer {
  max-width: fit-content;
}

#accountImg {
  position: relative;
  bottom: 0.5em;
}

.accountMobile {
  align-self: center;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.showAlways {
  visibility: visible;
}

.logoBlack:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.showMobileOnly {
  visibility: hidden;
}

.btnTrade {
  -webkit-appearance: none;
  border: solid black;
  padding-right: 1em;
  padding-left: 1em;
  background: transparent;
  color: black;
}

.btnTrade:hover {
  color: #000000;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  border: white solid;
  font-weight: bolder;
}

.icon {
  width: 2em;
  height: auto;
}


nav .navbar-collapse {
  position: fixed;
  top: 56px;
  background: #343a40;
  right: -100%;
  width: 100vw;
  height: 100vh;
  display: block;
  transition: right 0.3s ease;
}

nav .navbar-collapse.show {
  right: 0;
}

.menuCenter {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 2em;
}

#dropdown-basic::after {
  display: none;
  -webkit-appearance: none;
}

#dropdown-basic:hover {
  color: rgba(0, 0, 0, 0.7)
}

#dropdown-basic {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.55);
  padding: inherit;
  -webkit-appearance: none;
}

@media (max-width: 767px) {
  header {
    width: 100%;
  }

  .showDesktopOnly {
    visibility: hidden;
  }

  .showMobileOnly {
    visibility: visible;
    background-color: rgba(143, 143, 143, 0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    font-family: NHaasGrotesk, sans-serif, Fallback;
    font-size: 1rem;
  }

  .navContainer{
    img{
      min-width: 20%;
    }
  }
}