.btnToCart {
  flex: 1 1 0;
  padding: 0.25em 1em;
  border: black solid;
  width: 17rem;
  color: white;
  background-color: rgb(0, 0, 0);
  -webkit-appearance: none;
}

.btnToCart:hover {
  flex: 1 1 0;
  padding: 0.25em 1em;
  border: black solid;
  width: 17rem;
  color: #000000;
  background-color: rgb(255, 255, 255);
  -webkit-appearance: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
