.aboutTxt, .teamTxt{
  width: 100%;
  alignment: center;
  pointer-events: none;
  touch-action: none;
}

.aboutUs{
  scroll-snap-type: y mandatory;
}

.aboutUs .cover, .aboutUs .team{
  scroll-snap-align: start;
}

.container p {
  padding: 2rem;
  font-family: SFProDisplay, sans-serif, Fallback;
  color: #ffffff;
}

.cover {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background: url("/images/AboutUs/image_header.jpg") no-repeat fixed center;
  background-size: cover;
  align-items: center;
  padding: 2rem;
}

.container {
  border-radius: 2em;
  background-color: rgba(143, 143, 143, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-align: left;
  margin: 1rem 2rem 2rem;
}

.div-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.anchorOurTeam:hover {
  opacity: 1;
  animation: none;
  -webkit-animation: none;
  transition: 3s ease;
  -webkit-transition: 3s ease;
}

.anchor {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1em 2em;
  align-items: center;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anchorOurTeam{
  height: 80px;
  width: auto;
  animation: blink 3s;
  -webkit-animation: blink 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  touch-action: none;
  pointer-events: none;
}

.team {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.float_left {
  float: left;
  flex: 50%;
  -webkit-flex: 50%;
}

.float_right {
  float: right;
  flex: 50%;
  -webkit-flex: 50%;
}

@media (max-width: 767px) {
  .team, .cover{
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .div-hover{
    visibility: hidden;
  }
}

@media (max-width: 1023px){
  .team {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

td {
  padding: 2rem;
}

table img {
  width: 100%;
  height: auto;
  border-radius: 100rem;
  object-fit: cover;
  touch-action: none;
  pointer-events: none;
}

table tr td {
  text-align: center;
}

table tr td a {
  text-decoration: none;
}
