.browse-page{
  display: flex;
  align-items: stretch;
}
//a:active {
//  font-weight: bold;
//}
.float_left{
  float: left;
  flex: 18%;
  position: fixed;
  -webkit-flex: 18%;
  margin-top: 10rem;
  margin-left: 2rem;
}
.middle{
  margin-top: 4rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: inline;
}
.float_right{
  float: right;
  position: fixed;
  right: 0;
  flex: 18%;
  -webkit-flex: 18%;
  margin-top: 10rem;
  margin-right: 2rem;
  text-align: right;
}
.showMobileOnly {
  visibility: hidden;
}

@media (max-width: 767px) {
  .showMobileOnly {
    visibility: visible;
  }
  .float_right{
    visibility: hidden;
  }
}