.leadership {
  h2 {
    color: darkgreen; /* Testing only */
  }

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 2rem;
    display: grid;

    > li img {
      width: 100%;
      aspect-ratio: 1;
      margin-bottom: 0.5rem;
      object-fit: cover;
    }
  }
}

/* -------------------- */
/* Mobile + Tablet view */
/* -------------------- */
@media only screen and (max-width: 1023px) {
  .leadership {
    > ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}